- if @category.errors.any?
  #error_explanation
    %h3= t("form.error_title", count: @category.errors.count)

    %ul
    - @category.errors.full_messages.each do |msg|
      %li= msg

.form_content
  = form_for(@category) do |f|
    - if params[:action] == "new"
      = f.hidden_field :organisation_id

    .field_wrapper
      = f.label :organisation
      = @category.organisation.name
    
    .field_wrapper
      = f.label :name
      = f.text_field :name, autofocus: true
    
    .field_wrapper
      = f.submit({class: "button small green"})

    .links_wrapper
      = link_to 'Back', audio_visual_categories_path(oid: @organisation.id)
