<div id="form_wrapper">
  <h3>Resend confirmation instructions</h3>

  <%= devise_error_messages! %>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

    <div class="field_wrapper">
      <%= f.label :login %>
      <%= f.text_field :login %>
    </div>

    <div class="field_wrapper">
      <%= f.submit "Resend" %>
    </div>
  <% end %>

  <div class="links_wrapper">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>