.form_wrapper.narrow
  %h3= t("confirm_account.title")

  = devise_error_messages!

  .form_content
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      .field_wrapper
        = f.label :login
        = f.text_field :login, autofocus: true

      .field_wrapper
        = f.submit(t("confirm_account.submit"), {class: "button small green"})

    .links_wrapper
      = render partial: "devise/shared/links"
