%div.form_wrapper
  %h3 Resend confirmation instructions

  = devise_error_messages!

  %div.form_content
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
      
      %div.field_wrapper
        = f.label :login
        = f.text_field :login

      %div.field_wrapper
        = f.submit("Resend", {class: "button small green"})

    %div.links_wrapper
      = render partial: "devise/shared/links"
