.form_wrapper.narrow
  %h2= t("edit_account.title")

  = devise_error_messages!

  .form_content
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .field_wrapper
        = f.label :first_name
        .field_tip= t("form.tips.optional")
        = f.text_field :first_name, autofocus: true
      
      .field_wrapper
        = f.label :last_name
        .field_tip= t("form.tips.optional")
        = f.text_field :last_name

      .field_wrapper
        = f.label :username
        = f.text_field :username

      .field_wrapper
        = f.label :email
        = f.email_field :email

      .field_wrapper
        = f.label :password 
        .field_tip= t("edit_account.tips.old_password")
        = f.password_field :password, autocomplete: "off"

      .field_wrapper
        = f.label :password_confirmation
        = f.password_field :password_confirmation

      .field_wrapper
        = f.label :current_password
        .field_tip= t("edit_account.tips.current_password")
        = f.password_field :current_password

      .field_wrapper
        = f.submit(t("edit_account.submit"), class: "button small green")

.form_wrapper.narrow
  %h2= t("cancel_account.title")

  .form_content
    .links_wrapper
      = link_to t("cancel_account.link"), registration_path(resource_name), :confirm => t("cancel_account.confirm"), :method => :delete
