.form_wrapper.narrow
  %h3= t("register_account.title")

  = devise_error_messages!

  .form_content
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .field_wrapper
        = f.label :first_name
        .field_tip= t("form.tips.optional")
        = f.text_field :first_name, autofocus: true
      
      .field_wrapper
        = f.label :last_name
        .field_tip= t("form.tips.optional")
        = f.text_field :last_name

      .field_wrapper
        = f.label :username
        = f.text_field :username

      .field_wrapper
        = f.label :email
        = f.email_field :email

      .field_wrapper
        = f.label :password
        = f.password_field :password

      .field_wrapper
        = f.label :password_confirmation
        = f.password_field :password_confirmation

      .field_wrapper
        = f.submit(t("register_account.submit"), class: "button small green")

    .links_wrapper
      = render partial: "devise/shared/links"
