%div{id: "comment_#{comment.id}", class: "component_wrapper"}
  .component_title
    .right
      #{time_ago_in_words(comment.updated_at)} ago
      - if comment.user.id == current_user.id
        = render "shared/link_separator"
        = link_to t("links.edit"), edit_comment_path(comment), {class: "comment_edit_link", data: {id: comment.id}, remote: true}
      - elsif owner.id == current_user.id and comment.reply.nil?
        = render "shared/link_separator"
        = link_to t("links.reply"), "#", {class: "component_reply_link", data: {id: comment.id}}

    %h4= comment.user.organisation_display_name

  .component_content_wrapper
    .component_content
      %pre= comment.content
  
    = render partial: "audio_visuals/component_reply", locals: {component: comment, owner: owner}
