%h4= @form_title
%br
= form_for(@comment, :remote => true) do |f|
  = f.hidden_field :audio_visual_id
  .field_wrapper
    = f.text_area :content
  .field_wrapper
    = f.submit({class: "button small green"})
  .add_comment_spinner{class: "spinner"}
  .errors
