%div{class: "form_wrapper"}
  %h3 Resend Unlock Instructions

  = devise_error_messages!

  %div{class: "form_content"}
    = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
      
      %div{class: "field_wrapper"}
        = f.label :email
        = f.email_field :email

      %div{class: "field_wrapper"}
        = f.submit("Resend", {class: "button small green"})

    %div{class: "links_wrapper"}
      = render partial: "devise/shared/links"
