<% if @organisation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

    <ul>
    <% @organisation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@organisation) do |f| %>
  <div class="field_wrapper">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field_wrapper">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="field_wrapper">
    <%= f.submit %>
  </div>
<% end %>