#full_width
  %h2
    = @organisation.name
    - if @organisation_admin
      .right= link_to(t("links.edit"), edit_organisation_path(@organisation), {class: "regular"})

  #content
    #organisation_summary
      %p.italic= @organisation.description
      -if !@organisation.website.nil?
        %p
          = link_to @organisation.website, @organisation.website

    .right
      %table.slave{cellspacing: "0"}
        %tr
          %th= t("organisation.show.members.title")
          - if @organisation_admin
            %th.text_right= link_to t("links.invite"), new_user_invitation_path
        
        - if @admins.count > 0
          %tr.category
            %td.thin= t("organisation.show.members.administrators")
          = render partial: "member", collection: @admins

        - if @members.count > 0
          %tr.category
            %td.thin= t("organisation.show.members.members")
          = render partial: "member", collection: @members

    %table.master{cellspacing: "0"}
      %tr
        %th{colspan: "2"}= t("organisation.show.folios.title")
        - if @organisation_admin
          %th.text_right= link_to t("links.new"), new_folio_path(oid: @organisation.id)

      - if @folios.count > 0
        - @folios.each do |folio|
          %tr{class: cycle("even", "odd")}
            %td= link_to folio.name, folio
            %td= folio.description
            - if @organisation_admin
              %td.text_right
                = link_to t("links.edit"), edit_folio_path(folio)
                = "&nbsp&nbsp".html_safe
                = link_to t("links.delete"), folio, confirm: t("organisation.show.folios.delete_confirm"), method: :delete
      - else
        %tr
          %td{colspan: @organisation_admin ? "3" : "2"}= t("organisation.show.folios.no_folios")

    .clear
