<h2><%= @organisation.name %></h2>

<hr />

<br />

<div class="right">
  <table cellspacing="0">
    <tr>
      <th>Members</th>
      <% if @organisation_admin %>
        <th class="admin"><%= link_to "Invite Member", new_user_invitation_path %></th>
      <% end %>
    </tr>
    <% @organisation.users.each do |user| %>
      <tr class="<%= cycle("even", "odd") %>">
        <% if @organisation_admin %>
          <td colspan="2"><%= user.username %></td>
        <% else %>
          <td><%= user.username %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>


<table cellspacing="0">
<tr>
  <th>Folios</th>
  <th></th>
  <% if @organisation_admin %>
    <th class="admin" colspan="2"><%= link_to 'New folio', new_folio_path(oid: @organisation.id) %></th>
  <% end %>
</tr>
<% if @organisation.folios.count > 0 %>
  <% @organisation.folios.each do |folio| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= link_to folio.name, folio %></td>
      <td><%= folio.description %></td>
      <% if @organisation_admin %>
        <td><%= link_to 'Edit', edit_folio_path(folio) %></td>
        <td><%= link_to 'Remove', folio, :confirm => 'Are you sure? All rounds and audio visuals within these rounds will be removed!', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
<% else %>
  <tr class="<%= cycle("even", "odd") %>">
    <% if @organisation_admin %>
      <td colspan="4">No folios have been setup.</td>
    <% else %>
      <td colspan="2">No folios have been setup.</td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<br />
<br />

<% if @organisation_admin %>
  <div class="clear">
    <%= link_to 'Edit organisation details', edit_organisation_path(@organisation) %>
  </div>
<% end %>