#container
  #title
    - if @organisation_admin
      .right
        = link_to(t("links.edit"), edit_organisation_path(@organisation), {class: "regular"})
        = render "shared/link_separator"
        = link_to(t("organisation.show.links.audio_visual_categories"), audio_visual_categories_path(oid: @organisation.id), {class: "regular"})
        = render "shared/link_separator"
        = link_to(t("organisation.show.links.critique_categories"), critique_categories_path(oid: @organisation.id), {class: "regular"})

    %h3
      = @organisation.name

  #content
    #organisation_summary
      %p.italic= @organisation.description
      - if !@organisation.website.nil?
        %p
          = link_to @organisation.website, @organisation.website

    .right
      %table.slave{cellspacing: "0"}
        %tr
          %th= t("organisation.show.members.title")
          - if @organisation_admin
            %th.text_right= link_to t("links.invite"), new_user_invitation_path
        
        - if @admins.count > 0
          %tr.category
            %td.thin{colspan: @organisation_admin ? "2" : "1"}= t("organisation.show.members.administrators")
          - reset_cycle()
          = render partial: "member", collection: @admins

        - if @members.count > 0
          %tr.category
            %td.thin{colspan: @organisation_admin ? "2" : "1"}= t("organisation.show.members.members")
          - reset_cycle()
          = render partial: "member", collection: @members

    - reset_cycle()

    %table.master{cellspacing: "0"}
      %tr
        %th{colspan: "2"}= t("organisation.show.folios.title")
        - if @organisation_admin
          %th.text_right= link_to t("links.new"), new_folio_path(oid: @organisation.id)

      - if @folios.count > 0
        - @folios.each do |folio|
          %tr{class: cycle("odd", "even")}
            %td= link_to folio.name, folio
            %td= folio.description
            - if @organisation_admin
              %td.admin_column
                = link_to t("links.edit"), edit_folio_path(folio)
                = render "shared/link_separator"
                = link_to t("links.delete"), folio, confirm: t("folio.delete.confirm"), method: :delete
      - else
        %tr
          %td{colspan: @organisation_admin ? "3" : "2"}= t("organisation.show.folios.no_folios")

    .clear
