- javascript 'audio_visuals'

#container
  #title
    - if current_user.can_manage?(round_audio_visual)
      .right= link_to(t("links.edit"), edit_round_audio_visual_path(round_audio_visual), {class: "regular"})
    %h3
      = link_to round.name, round
      .arrow_right
      = @audio_visual.title
      %span.regular by
      = @audio_visual.user.organisation_display_name

  #content
    = render 'audio_visuals/audio_visual'
    
    - if @show_critiques or @show_comments
      #av_feedback
        #tabs
          %ul
            - if @show_critiques
              %li{id: "av_tab_critique"}= t("audio_visual.show.tabs.critique")
            - if @show_comments
              %li{id: "av_tab_comment"}= t("audio_visual.show.tabs.comment")
        
        #tab_base
        
        - if @show_critiques
          #av_critiques_wrapper
            - if current_user.can_critique?(round_audio_visual)
              = link_to t("links.add_critique"), new_critique_path(ravid: round_audio_visual)
              %br
              %br
            
            #av_critiques{data: {load: critiques_path(ravid: round_audio_visual, format: :js)}}
            
            .component_reply_form_wrapper
              = form_tag(critique_component_reply_path, remote: true, id: "critique_reply_form") do
                = render partial: "audio_visuals/reply_form"
        
        - if @show_comments
          #av_comments_wrapper
            #av_comments{data: {load: round_audio_visual_comments_path(round_audio_visual, format: :js)}}

            - if current_user.can_comment?(round_audio_visual)
              .component_reply_form_wrapper
                = form_tag(comment_reply_path, remote: true, id: "comment_reply_form") do
                  = render partial: "audio_visuals/reply_form"

              #add_comment_form_wrapper
