#container
  #title
    - if round.open? and current_user.can_contribute?(folio)
      .right
        = link_to(t("links.add_audio_visual"), new_round_audio_visual_path(rid: round), {class: "regular"})

    %h3
      = link_to organisation.name, organisation
      .arrow_right
      = link_to folio.name, folio
      .arrow_right
      = round.name

  #content
    - if @round_audio_visuals.nil? or @round_audio_visuals.count == 0
      = t("round.show.no_audio_visuals")
    - else
      = render partial: "round_audio_visual", collection: @round_audio_visuals
      = will_paginate @round_audio_visuals
