.form_wrapper.narrow
  %h3= t("change_password.title")

  = devise_error_messages!

  .form_content
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token

      .field_wrapper
        = f.label :password, t("change_password.labels.password")
        = f.password_field :password, autofocus: true

      .field_wrapper
        = f.label :password_confirmation, t("change_password.labels.confirm_password")
        = f.password_field :password_confirmation

      .field_wrapper
        = f.submit(t("change_password.submit"), {class: "button small green"})

    .links_wrapper
      = render partial: "devise/shared/links"
