<div id="form_wrapper">
  <h3>Change Your Password</h3>

  <%= devise_error_messages! %>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field_wrapper">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password %>
    </div>

    <div class="field_wrapper">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field_wrapper">
      <%= f.submit "Change" %>
    </div>
  <% end %>

  <div class="links_wrapper">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>