%div{class: "form_wrapper"}
  %h3 Forgot Your Password

  = devise_error_messages!

  %div{class: "form_content"}
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      
      %div{class: "field_wrapper"}
        = f.label :login
        = f.text_field :login

      %div{class: "field_wrapper"}
        = f.submit("Reset", {class: "button small green"})

    %div{class: "links_wrapper"}
      = render partial: "devise/shared/links"
