.critique_wrapper
  .critique_title
    .right
      #{time_ago_in_words(critique.updated_at)} ago
      - if critique.user.id == current_user.id
        = render "shared/link_separator"
        = link_to t("links.edit"), edit_critique_path(critique)

    %h4= critique.user.organisation_display_name

  .critique_content
    - critique.critique_components.each do |component|
      .component_wrapper{style: "margin-left: #{component.critique_category.depth * 20}px;"}
        .critique_category
          %div
            - if critique.round_audio_visual.audio_visual.user_id == current_user.id and !component.content.nil? and component.reply.nil?
              .right= link_to t("links.reply"), "#", {class: "component_reply_link", data: {id: component.id}}
            %h4.component_title= component.critique_category.name
          
          - if !component.content.nil?
            .component_content_wrapper
              .component_content
                %pre= component.content

              = render partial: "audio_visuals/component_reply", locals: {component: component, audio_visual: component.critique.round_audio_visual.audio_visual}
