- if @critique.errors.any?
  #error_explanation
    %h3= t("form.error_title", count: @critique.errors.count)

    %ul
      - @critique.errors.full_messages.each do |msg|
        %li= msg

.form_content
  - if @critique.critique_components.length > 0
    = form_for(@critique) do |f|
      - if f.object.new_record?
        = f.hidden_field :round_audio_visual_id

      = f.fields_for :critique_components do |component|
        - offset = component.object.critique_category.depth
        .component_wrapper{style: "margin-left: #{offset * 20}px; margin-right: #{offset * 16}px"}
          %h4.component_title= component.object.critique_category.name
          = component.hidden_field :critique_category_id

          - if component.object.critique_category.critiquable
            = component.text_area :content
      
      .field_wrapper
        = f.submit({class: "button small green"})
  
  - else
    = t("critique_category.index.no_categories")  

  .links_wrapper
    = link_to t("links.back"), @critique.round_audio_visual
