.form_wrapper
  %h3= t("login.title")

  = devise_error_messages!

  .form_content
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field_wrapper
        = f.label :login
        = f.text_field :login

      .field_wrapper
        = f.label :password
        = f.password_field :password
      
      - if devise_mapping.rememberable?
        .field_wrapper
          = f.label :remember_me
          = f.check_box :remember_me

      .field_wrapper
        = f.submit(t("login.submit"), class: "button small green")

    .links_wrapper
      = render partial: "devise/shared/links"
