%div{class: "form_wrapper"}
  %h3 Login

  = devise_error_messages!

  %div{class: "form_content"}
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %div{class: "field_wrapper"}
        = f.label :login
        = f.text_field :login

      %div{class: "field_wrapper"}
        = f.label :password
        = f.password_field :password
      
      - if devise_mapping.rememberable?
        %div{class: "field_wrapper"}
          = f.label :remember_me
          = f.check_box :remember_me

      %div{class: "field_wrapper"}
        = f.submit("Login", class: "button small green")

    %div{class: "links_wrapper"}
      = render partial: "devise/shared/links"
