.form_wrapper.narrow
  %h3= t("invitation.accept.title")

  = devise_error_messages!

  .form_content
    = form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f|
      = f.hidden_field :invitation_token

      .field_wrapper
        = f.label :first_name
        .field_tip= t("form.tips.optional")
        = f.text_field :first_name, autofocus: true
      
      .field_wrapper
        = f.label :last_name
        .field_tip= t("form.tips.optional")
        = f.text_field :last_name

      .field_wrapper
        = f.label :username
        = f.text_field :username

      .field_wrapper
        = f.label :password
        = f.password_field :password

      .field_wrapper
        = f.label :password_confirmation
        = f.password_field :password_confirmation

      .field_wrapper
        = f.submit(t("invitation.accept.submit"), {class: "button small green"})
