.form_wrapper.narrow
  %h2= t("invitation.create.title")

  = devise_error_messages!

  .form_content
    = form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post} do |f|
      .field_wrapper
        = f.label :email
        = f.email_field :email, autofocus: true

      - if current_user.organisations?
        .field_wrapper
          = f.label t("invitation.create.labels.organisation")
          = f.select :invitation_organisation_id, options_from_collection_for_select(@organisations, "id", "name")

        .field_wrapper
          = f.label t("invitation.create.labels.organisation_admin")
          = f.check_box :invitation_organisation_admin

        .field_wrapper
          = f.label t("invitation.create.labels.folio")
          = f.select :invitation_folio_id, options_from_collection_for_select(@folios, "id", "name")

        .field_wrapper
          = f.label t("invitation.create.labels.folio_role")
          = f.select :invitation_folio_role_id, options_from_collection_for_select(@folio_roles, "id", "name")

      .field_wrapper
        = f.submit(t("invitation.create.submit"), {class: "button green"})
