#av_wrapper
  #av_summary
    %h4= t("audio_visual.show.summary.title")
    %dl
      %dt= t("audio_visual.show.summary.headings.description")
      %dd= @audio_visual.description
      %dt= t("audio_visual.show.summary.headings.music")
      %dd= @audio_visual.music
      %dt= t("audio_visual.show.summary.headings.location")
      %dd= @audio_visual.location
      %dt= t("audio_visual.show.summary.headings.production_notes")
      %dd= @audio_visual.production_notes

  #av_player
    %iframe{src: "https://player.vimeo.com/video/#{@audio_visual.external_reference}?title=0&amp;byline=0&amp;portrait=0", width: "600", height: "338", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
