- if component.reply.nil?
  .component_reply_wrapper.new.hidden
    .component_reply_title
      %span.bold= t("comment.reply_form.title")
    .component_reply_content

- else
  .component_reply_wrapper.existing
    .component_reply_title
      .right
        #{time_ago_in_words(component.reply_updated_at)} ago
        - if owner.id == current_user.id
          = render "shared/link_separator"
          = link_to t("links.edit"), "#", {class: "component_reply_link", data: {id: component.id}}
      %span.bold #{owner.organisation_display_name}
      replied
    
    .component_reply_content
      %pre= component.reply
