.av_critique_wrapper
  .title
    - if critique.user.id == current_user.id
      .right
        #{time_ago_in_words(critique.updated_at)} ago
        = render "shared/link_separator"
        = link_to t("links.edit"), edit_critique_path(critique), {class: "regular"}
    - else
      .right #{time_ago_in_words(critique.updated_at)} ago

    %h4= critique.user.organisation_display_name

  .content
    - critique.critique_components.each do |component|
      .critique_component_wrapper{style: "margin-left: #{component.critique_category.depth * 20}px;"}
        .av_critique_category
          %div
            - if critique.audio_visual.user_id == current_user.id and component.critique_category.critiquable
              .right= link_to t("links.reply"), "#", {class: "regular"}
            .category_title= component.critique_category.name
          - if !component.content.nil?
            .component= component.content
