.av_critique_wrapper
  .title
    .right
      #{time_ago_in_words(critique.updated_at)} ago
      - if critique.user.id == current_user.id
        = render "shared/link_separator"
        = link_to t("links.edit"), edit_critique_path(critique), {class: "regular"}

    %h4= critique.user.organisation_display_name

  .content
    - critique.critique_components.each do |component|
      .critique_component_wrapper{style: "margin-left: #{component.critique_category.depth * 20}px;"}
        .av_critique_category
          %div
            - if critique.audio_visual.user_id == current_user.id and component.critique_category.critiquable and component.reply.nil?
              .right= link_to t("links.reply"), "#", {id: component.id, class: "reply_link"}
            .category_title= component.critique_category.name
          
          - if !component.content.nil?
            %pre.component= component.content

          - if component.critique_category.critiquable
            = render partial: "shared/critique_component_reply", locals: {component: component}
