- javascript params[:controller]

#container
  #title
    - if @owner
      .right= link_to(t("links.edit"), edit_audio_visual_path(@audio_visual), {class: "regular"})
    %h2
      - if !@audio_visual.round.nil?
        = link_to @audio_visual.round.name, @audio_visual.round
        .arrow_right
      = @audio_visual.title
      %span.regular by
      = @audio_visual.user.organisation_display_name

  #content
    #avwrapper
      #av_summary
        %h2= t("audio_visual.show.summary.title")
        %dl
          %dt= t("audio_visual.show.summary.headings.description")
          %dd= @audio_visual.description
          %dt= t("audio_visual.show.summary.headings.music")
          %dd= @audio_visual.music
          %dt= t("audio_visual.show.summary.headings.location")
          %dd= @audio_visual.location
          %dt= t("audio_visual.show.summary.headings.production_notes")
          %dd= @audio_visual.production_notes

      #av_player
        %iframe
        / {src: "http://player.vimeo.com/video/43096888?title=0&amp;byline=0&amp;portrait=0", width: "600", height: "338", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}

    - if !@contributor or (!@audio_visual.allow_critiquing and !@audio_visual.allow_commenting)
      .clear
    - else
      #av_feedback
        %ul
          - if @audio_visual.allow_critiquing
            %li{id: "av_tab_critique"}= t("audio_visual.show.tabs.critique")
          - if @audio_visual.allow_commenting
            %li{id: "av_tab_comment"}= t("audio_visual.show.tabs.comment")
        #tab_base
        - if @audio_visual.allow_critiquing
          #av_critiques
            - if @can_critique
              = link_to t("links.new"), new_critique_path(avid: @audio_visual.id)
        - if @audio_visual.allow_commenting
          #av_comments
            Here are the comments
