- if @category.errors.any?
  #error_explanation
    %h2= t("form.error_title", :count => @category.errors.count)

    %ul
    - @category.errors.full_messages.each do |msg|
      %li= msg

.form_content
  = form_for(@category) do |f|
    - if params[:action] == "new" or params[:action] == "show"
      = hidden_field_tag 'critique_category[organisation_id]', @organisation.id

      .field_wrapper
        = f.label :organisation
        = @organisation.name

    - else
      .field_wrapper
        = f.label :organisation
        = @organisation.name

    .field_wrapper
      = f.label :name
      = f.text_field :name

    .field_wrapper
      = f.label :critiquable
      = f.check_box :critiquable

    .field_wrapper
      = f.label t("critique_category.labels.parent_id")
      = f.select :parent_id, [nil] + sorted_nested_set_options(CritiqueCategory, :name, @category) {|i| "#{'-' * i.level} #{i.name}" }

    .field_wrapper
      = f.submit({class: "button small green"})

    .links_wrapper
      = link_to 'Back', critique_categories_path(oid: @organisation.id)
