#container.half_width
  #title
    %h3
      = t("critique_category.index.title")
      = link_to(organisation.name, organisation)

  #content
    %table.single{cellspacing: "0"}
      %tr
        %th= t("critique_category.index.category_name")
        %th= t("critique_category.index.critiquable")
        %th.text_right= link_to t("links.new"), new_critique_category_path(oid: organisation)

      - if categories.count > 0
        - categories.each do |category|
          %tr{class: cycle("odd", "even")}
            %td
              - if category[:level] > 0
                - category[:level].times do
                  &nbsp;&nbsp;
                &#8627;&nbsp;&nbsp;
              = category[:category].name
            %td
              - if category[:category].critiquable
                &#10003;
            %td.admin_column
              = link_to t("links.edit"), edit_critique_category_path(category[:category])
              = render "shared/link_separator"
              = link_to t("links.delete"), category[:category], confirm: t("critique_category.delete.confirm"), method: :delete
      - else
        %tr
          %td{colspan: "2"}= t("critique_category.index.no_categories")

    %br
    %br

    = link_to t("links.back"), organisation
