!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "A community driven site for the sharing and critiquing of diaporamas."}
    %meta{name: "author", content: "eightytwo"}

    %title AudioVisualArcade
    %link{rel: "shortcut icon", href: "/favicon.ico?v2"}
    = stylesheet_link_tag "custom"
    = javascript_include_tag "application"
    %csrf_meta_tags

  %body
    #page
      %nav
        %ul
          %li
            %a{href: "/", title: "Home"} home
          %li
            %a{href: "/about", title: "About"} about
          %li
            %a{href: "/contact", title: "Contact"} contact

      %header
        %span.site_heading AudioVisualArcade
        %span.site_caption a community driven site for the
        %span.site_caption.site_caption_bold sharing
        %span.site_caption and
        %span.site_caption.site_caption_bold critiquing
        %span.site_caption of diaporamas

        #account_dd_wrapper
          - if user_signed_in?
            #account_dd_button
              #account_dd_content
                Hello #{h current_user.username}
              #account_dd_divider
              #account_dd_arrow
            #account_dd_menu
              %ul
                %li
                  = link_to "My Account", edit_user_registration_path, {title: "Edit my account"}
                - if current_user.organisations?
                  %li
                    = link_to "My Folios", organisations_path, {title: "View my folios"}
                %li
                  %a{href: "/upload", title: "Upload an audio visual"} Upload
                %li
                  = link_to "Logout", destroy_user_session_path, {method: :delete, title: "Logout"}
                
          - else
            #login_link
              = link_to "login", new_user_session_path, {title: "Login"}

      #content
        - if flash[:notice]
          .flash.notice= flash[:notice]

        - if flash[:alert]
          .flash.alert= flash[:alert]

        - if flash[:error]
          .flash.error= flash[:error]

        = yield
