<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A community driven site for the sharing and critiquing of diaporamas.">
    <meta name="author" content="Piers">

    <title>Audio Visual Arcade</title>
    
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>   
    <!-- page wrapper -->
    <div id="page">
      <div id="header">
        <!-- the site logo -->
        <div id="logo"></div>

        <!-- top navigation bar -->
        <div id="navbar">
          <div id="inner_navbar">
            <div id="inner_navbar_right">
              <% if user_signed_in? %>
              <!-- the drop down menu for a user's account -->
              <div id="account_dropdown">
                <div id="account_dropdown_label">
                  <div id="account_icon"></div>
                    <span>Hi <%= current_user.username %></span>
                </div>
                
                <!-- the drop down button -->
                <div id="account_dropdown_button"></div>

                <!-- the drop down menu -->
                <div id="account_dropdown_menu_wrapper">
                  <div id="account_dropdown_menu">
                    <ul>
                      <li><a href="/account">My Account</a></li>
                      <li><a href="/upload">Upload AV</a></li>
                      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <% else %>
              <div id="login_link">
                <%= link_to "Login", new_user_session_path %>
              </div>
              <% end %>
            </div>

            <!-- the menu items -->
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <% if user_signed_in? and current_user.organisations? %>
              <li><a href="#">My Folios</a></li>
              <li class="separator"></li>
              <% end %>
              <li><a href="#">About</a></li>
              <li class="separator"></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
