<%= link_to @folio.organisation.name, @folio.organisation %> >
<%= @folio.name %>

<br />

<h4>Users</h4>
<table>
<% @folio.users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    
  </tr>
<% end %>
</table>

<br />

<h4>Rounds</h4>
<table> 
<% @folio.rounds.each do |round| %>
  <tr>
    <td><%= round.name %></td>
    <td><%= round.start_date %></td>
    <td><%= round.end_date %></td>
    <td><%= link_to 'Show', round %></td>
    <% if @folio_admin %>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Remove', round, :confirm => 'Are you sure? All audio visuals in this round will be removed!', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to 'New round', new_round_path(fid: @folio.id) %>