#full_width
  %h2
    = link_to @folio.organisation.name, @folio.organisation
    .arrow_right
    = @folio.name

  #content
    .right
      %table.slave{cellspacing: "0"}
        %tr
          %th= t("folio.show.members.title")
          - if @folio_admin
            %th.text_right= link_to "add", new_folio_user_path(fid: @folio.id)

        - if @admins.count + @contributors.count + @viewers.count > 0
          - if @admins.count > 0
            %tr.category
              %td.thin= t("folio.show.members.administrators")
            - reset_cycle()
            = render partial: "member", collection: @admins

          - if @contributors.count > 0
            %tr.category
              %td.thin= t("folio.show.members.contributors")
            - reset_cycle()
            = render partial: "member", collection: @contributors

          - if @viewers.count > 0
            %tr.category
              %td.thin= t("folio.show.members.viewers")
            - reset_cycle()
            = render partial: "member", collection: @viewers
        - else
          %tr
            %td{colspan: @folio_admin && "2"}= t("folio.show.members.no_members")

    - reset_cycle()

    %table.master{cellspacing: "0"}
      %tr
        %th{colspan: "3"}= t("folio.show.rounds.title")
        - if @folio_admin
          %th.text_right= link_to 'new', new_round_path(fid: @folio.id)
        
      - if @rounds.count > 0
        - @rounds.each do |round|
          %tr{class: cycle("odd", "even")}
            %td= link_to round.name, round
            %td= l(round.start_date)
            %td= l(round.end_date)
            - if @folio_admin
              %td.text_right
                = link_to t("links.edit"), edit_round_path(round)
                = "&nbsp&nbsp".html_safe
                = link_to t("links.delete"), round, :confirm => t("round.delete.confirm"), :method => :delete
      - else
        %tr
          %td{colspan: @folio_admin ? "4" : "3"}= t("folio.show.rounds.no_rounds")

    .clear
